// 首頁-產品列表
.productDisplay {
  padding: 30px 15px;
}

.productSelect {
  border: 1px solid #b9b9b9;
  color: #797979;
  min-height: 38px;
  min-width: 255px;
  border-radius: 5px;
  text-indent: 10px;
  margin-bottom: 30px;
}

.productWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.productCard {
  position: relative;
  margin-right: 2%;
  width: 23%;
  margin-bottom: 30px;
}

.productCard img {
  min-height: 300px;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.productCard a {
  display: block;
  background-color: #000000;
  color: #ffffff;
  padding: 10px 0;
  text-align: center;
  border: none;
  margin-bottom: 8px;
  text-decoration: none;
}

.productCard a:hover {
  background-color: #301e5f;
}

.productCard a,
.productCard h3 {
  font-size: 1.25rem;
}

@media (max-width: 900px) {
  .productCard {
    width: 48%;
  }
}

@media (max-width: 540px) {
  .productCard {
    width: 100%;
  }
}

.productType {
  position: absolute;
  top: 13px;
  right: -5px;
  background-color: #000000;
  color: #ffffff;
  padding: 8px 24px;
}

.originPrice {
  font-size: 1.25rem;
}

.nowPrice {
  font-size: 1.75rem;
}
